[Unit]
Description=Desktop Session Services
Wants=graphical-session.target dms.service xdg-desktop-portal-gtk.service xdg-desktop-portal-wlr.service
After=graphical-session.target
